<template id="continue">
    <aside class="continue" id="continue-popup">
        <div class="continue__inner">
            <button class="button__close" aria-label="close" tabindex="0">✕</button>
            <h4 class="continue__header">Du arbetade senaste med</h4>
            <ul class="continue__list">
                <li><span>Tema:</span><a href=""></a></li>
                <li><span>Område:</span><a href=""></a></li>
                <li><span>Del:</span><a href=""></a></li>
            </ul>
            <a class="button continue__button" href="">Fortsätt</a>
        </div>
    </aside>
</template>