<div class="notes">
    <button id="notes-open" class="button button__icon button__notes" aria-label="Anteckningar">
        {% svg "note_add_FILL0_wght400_GRAD0_opsz24.svg", "icon" %}
    </button>
</div>

<template id="notes">
    <div class="notes__container" id="notes-container" role="dialog">
        <button id="notes-close" class="button__icon button__close" aria-label="stäng" tabindex="0">✕</button>
        <div class="notes__form">
            <label for="notes-area" class="">Mina anteckningar</label>
            <textarea
                id="notes-area"
                name="notes-area"
                rows="4"
                placeholder="Skriv dina egna anteckningar här."
                autofocus
            ></textarea>
        </div>
    </div>
</template>