---
layout: base.njk
---
<span id="area" class="visually-hidden">{{ eleventyNavigation.parent }}</span>

<div class="row p-2 bg-white">
    <header class="d-flex justify-content-between align-items-baseline border-bottom mb-2">
        <h1 class="part-title" id="title">
            <a class="anchor" href="#title">#</a>{{ title }}
        </h1>
        <span class="text-muted">{{ content | emojiReadTime }}</span>
    </header>
    {{ content | safe }}
</div>

{% include "prevnext.njk" %}
<script async defer src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
<script defer src="{{ '/js/assignments.js' }}"></script>