{% if currentPage != '' %}
<nav aria-label="breadcrumb">
    {% set temp = collections.all | eleventyNavigationBreadcrumb(currentPage, {includeSelf: true}) %}
    {% set navPages = temp.slice(1) %}
    <ol class="breadcrumb">
        {% for entry in navPages %}
        <li {% if entry.url==page.url %} class="breadcrumb__item breadcrumb__item--active" aria-current="page" {% else
            %} class="breadcrumb__item" {% endif %}>
            <a class="breadcrumb__item-link" href="{{ entry.url | url }}">{{ entry.title | capitalize }}</a>
        </li>
        {% endfor %}
    </ol>
</nav>
{% endif %}