{% if currentPage != '' %}
<nav aria-label="breadcrumb">
    {% set navPages = collections.all | eleventyNavigationBreadcrumb(currentPage, {includeSelf: true}) %}
    <ol class="breadcrumb">
        {% for entry in navPages %}
        <li {% if entry.url==page.url %} class="breadcrumb__item breadcrumb__item--active" aria-current="page" {% else
            %} class="breadcrumb__item" {% endif %}>
            {% if entry.url == page.url %}
            {{ entry.title | capitalize }}
            {% else %}
            <a class="breadcrumb__item-link" href="{{ entry.url | url }}">{{ entry.title | capitalize }}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ol>
</nav>
{% endif %}