<footer class="footer">
    <div class="container footer__inner">
        <div class="footer__col">
            <p>Sidan är skapad av Jens Andreasson utifrån Kaj Schmidts pedagogiska funderingar.</p>
            <p>Kursen och sidans innehåll &copy; {% year %} <a href="{{ meta.author.url}}">{{ meta.author.name }}</a>.</p>
            <p><a href="https://github.com/jensnti/tod">Tema, område, del</a> mallen är licensierat under
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                <img alt="Creative Commons License" class="footer__license-image" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
            </a></p>
        </div>
        <div class="footer__col">
            <p>Sidan sparar information i din webbläsare för att komma ihåg ditt arbete.</p>
            <p>Hittar du något som är fel eller inte fungerar, rapportera gärna en
                <a href="{{ pkg.bugs.url | safe }}">issue</a>
                på GitHub.</p>
            </p>
        </div>
    </div>
</footer>