<footer class="footer">
    <div class="container footer__inner">
        <div class="footer__col">
            <p>Webbplatsen är skapad av Jens Andreasson utifrån Kaj Schmidts pedagogiska funderingar.</p>
            <p>Hittar du något som är fel eller inte fungerar, rapportera gärna en
                <a href="{{ pkg.bugs.url | safe }}">issue</a>
                på GitHub.</p>
            </p>
        </div>
        <div class="footer__col">
            <p>Kursen och sidans innehåll &copy; {% year %} <a href="{{ meta.author.url}}">{{ meta.author.name }}</a>.</p>
            <p><a href="https://github.com/jensnti/tod">Tema, område, del</a> mallen är licensierad under
            <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
                CC BY-NC 4.0
            </a></p>
        </div>
    </div>
</footer>