<footer class="footer">
    <div class="container footer__inner">
        <div class="footer__col">
            <p>Kursen och sidans innehåll &copy; {% year %}
                {{ meta.author.name }}.</p>
            <p>Sidan är skapad av Jens Andreasson utifrån Kaj Schmidts pedagogiska funderingar.</p>
        </div>
        <div class="footer__col">
            <p>Hittar du något som är fel eller inte fungerar, rapportera gärna en
                <a href="{{ pkg.bugs.url | safe }}">issue</a>
                på GitHub.</p>
            <p>En mall att bygga din egen kurswebb från finns på
                <a class="text-reset" href="https://github.com/jensnti/tod">GitHub</a>.
            </p>
            <p>Sidan sparar information i din webbläsare för att komma ihåg ditt arbete.</p>
        </div>
    </div>
</footer>