<a class="skip-link" href="#main-content">Hoppa till sidans innehåll</a>
<nav class="navbar" role="navigation" aria-label="Primary">
    <div class="container navbar__inner">
        {% set currentPage = page.fileSlug %}
        {% if currentPage == '' or currentPage.includes('404') or currentPage.includes('tack') or currentPage.includes('hjälp') or currentPage.includes('offline') %}
        <h1 class="navbar__header">
            <a href="/" title="Tillbaka till startsidan">
                {{ meta.siteName }}
            </a>
        </h1>
        {% elif currentPage.includes('slutuppgift') %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb__item">
                    <a class="breadcrumb__item-link" href="/">{{ meta.siteName | safe }}</a>
                </li>
                <li class="breadcrumb__item breadcrumb__item--active" aria-current="page">
                    Slutuppgifter
                </li>
            </ol>
        </nav>
        {% else %}
        {% include "components/breadcrumb.njk" %}
        {% endif %}
        <div class="navbar__left">
            <div class="dropdown">
                <form class="search-form">
                    <label class="visually-hidden" for="search-input">Sök</label>
                    <input
                        class="search-form__control"
                        autocomplete="off"
                        type="search"
                        placeholder="Sök..."
                        id="search-input"
                        aria-label="Sök" />
                </form>
                <ol
                    id="search-results"
                    class="dropdown__menu flow d-none"
                    aria-labelledby="search-input">
                    <li class="dropdown__menu-item--disabled">Skriv för att söka på sidan...</li>
                </ol>
            </div>
            <a class="button button__icon button__help" href="/help">
                <span class="visually-hidden">Hjälp</span>
                {% svg "help_FILL0_wght400_GRAD0_opsz24.svg", "icon" %}
            </a>
            <button id="install-worker" type="button" class="button button__icon hidden">
                <span class="visually-hidden">Installera</span>
                {% svg "install_mobile_FILL0_wght400_GRAD0_opsz24.svg", "icon" %}
            </button>
        </div>
    </div>
</nav>