/* Light */
@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"),
        url("/assets/fonts/RobotoCondensed-Light.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 300;
    src: local("Roboto Condensed Light Italic"), local("RobotoCondensed-LightItalic"),
        url("/assets/fonts/RobotoCondensed-LightItalic.ttf") format("truetype");
    font-display: swap;
}

/* Normal */
@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"),
        url("/assets/fonts/RobotoCondensed-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 400;
    src: local("Roboto Condensed Italic"), local("RobotoCondensed-Italic"),
        url("/assets/fonts/RobotoCondensed-Italic.ttf") format("truetype");
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"),
        url("/assets/fonts/RobotoCondensed-Bold.ttf") format("truetype");
    font-display: swap;
}

$font-family-sans-serif:      'Roboto Condensed', sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1140,22,1.25,6,5,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
    --step--5: clamp(0.45rem, calc(0.45rem + 0.00vw), 0.45rem);
    --step--4: clamp(0.54rem, calc(0.53rem + 0.04vw), 0.56rem);
    --step--3: clamp(0.65rem, calc(0.63rem + 0.10vw), 0.70rem);
    --step--2: clamp(0.78rem, calc(0.74rem + 0.19vw), 0.88rem);
    --step--1: clamp(0.94rem, calc(0.87rem + 0.32vw), 1.10rem);
    --step-0: clamp(1.13rem, calc(1.03rem + 0.49vw), 1.38rem);
    --step-1: clamp(1.35rem, calc(1.21rem + 0.72vw), 1.72rem);
    --step-2: clamp(1.62rem, calc(1.41rem + 1.03vw), 2.15rem);
    --step-3: clamp(1.94rem, calc(1.65rem + 1.45vw), 2.69rem);
    --step-4: clamp(2.33rem, calc(1.93rem + 2.00vw), 3.36rem);
    --step-5: clamp(2.80rem, calc(2.25rem + 2.73vw), 4.20rem);
    --step-6: clamp(3.36rem, calc(2.62rem + 3.68vw), 5.25rem);

    --ls-neg: -0.02em;
}

::after {
    --step-0: clamp(1.13rem, calc(1.03rem + 0.49vw), 1.38rem);
}

body {
    line-height: 1.5;
    font-family: $font-family-sans-serif;
    font-size: var(--step-0);
    font-weight: 400;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: var(--step-4);
}

h2 {
    font-size: var(--step-2);
}

h3 {
    font-size: var(--step-1);
}

// p,
// li {
//     max-width: 80ch;
// }

h1 {
    letter-spacing: var(--ls-neg);
}

h2,
h3 {
    overflow-wrap: break-word;
}

.lead {
    font-size: var(--step-1);
    font-weight: 300;
    color: var(--color-gray-700)
}

.text-muted {
    color: var(--color-gray-700)
}