// from https://material.io/design/color/the-color-system.html#tools-for-picking-colors
$white: hsl(0, 0%, 98%);
$gray-100: hsl(0, 0%, 96%);
$gray-200: hsl(0, 0%, 93%);
$gray-300: hsl(0, 0%, 88%);
$gray-400: hsl(0, 0%, 74%);
$gray-500: hsl(0, 0%, 62%);
$gray-600: hsl(0, 0%, 46%);
$gray-700: hsl(0, 0%, 38%);
$gray-800: hsl(0, 0%, 26%);
$gray-900: hsl(0, 0%, 13%);
$black: hsl(0, 0%, 0%);

$width-min: 320px;
$width-mid: 640px;
$width-max: 1140px;