@use "reset";
@use "theme";
@use "typography";
@use "components";
@use "utilities";

body {
    display: flex;
    flex-direction: column;

    color: var(--color-gray-900);
    background-color: var(--color-gray-200);
}

main {
    padding-top: var(--step-1);
    padding-bottom: var(--step-1);
    &:focus {
        outline: none;
    }
}

.bg-theme {
    background-color: var(--color-primary--light);
    &--top {
        background-color: var(--color-primary--dark);
    }
}

.star {
    fill: var(--color-primary);
}

.stars {
    padding-left: var(--step--1);
    color: var(--color-primary);
    fill: var(--color-primary);
}

.invisible {
    display: none !important;
}

.hidden {
    display: none;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

li.test{
    font-weight: 700;
}

.icon {
    font-size: var(--step-1);
}