@import "_vars";
@import "color-tokens";

p,
li {
    max-width: 60ch;
}

h1 {
    max-width: 15ch;
    letter-spacing: -0.0777rem;
    font-weight: $font-weight-bold !important;
}

h2,
h3 {
    overflow-wrap: break-word;
    max-width: 25ch;
}

h1 {
    font-size: map-get($font-sizes, 1);
}
h2 {
    font-size: map-get($font-sizes, 3);
    font-weight: $font-weight-bold;
}
h3 {
    font-size: map-get($font-sizes, 4);
}
h4 {
    font-size: map-get($font-sizes, 4);
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap; // allow us to do the line break for collapsing content
    align-items: center;
    justify-content: space-between; // space out brand from logo
    padding-top: $navbar-padding-y;
    padding-right: $navbar-padding-x; // default: null
    padding-bottom: $navbar-padding-y;
    padding-left: $navbar-padding-x; // default: null
}

.instructions {
    @media (min-width: 768px) {
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
    }
    table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        vertical-align: top;
        border-color: #dee2e6;
        thead {
            vertical-align: bottom;
            tr {
                th {
                    padding: 0.5rem 0.5rem;
                    background-color: var(--bs-table-bg);
                    border-bottom-width: 1px;
                    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
                }
            }
        }
        tbody {
            tr {
                td {
                    padding: 0.5rem 0.5rem;
                    background-color: var(--bs-table-bg);
                    border-bottom-width: 1px;
                    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
                }
            }
        }
    }

    img {
        max-width: 100%;
    }
}

.anchor {
    text-decoration: none;
    margin-left: map-get($spacers, 1);
}
a[href].anchor,
a[href].anchor:visited {
    visibility: hidden;
}
:focus > a[href].anchor,
:focus > a[href].anchor:visited,
:hover > a[href].anchor,
:hover > a[href].anchor:visited,
a[href].anchor:focus,
a[href].anchor:focus:visited {
    visibility: visible;
}

.accordion {
    max-width: none;
    &-header {
        max-width: none;
    }
}

.accordion-item {
    border: none;
    margin-bottom: 0;
}

.accordion-button {
    letter-spacing: 0.1rem;
    font-size: map-get($font-sizes, 3);
    padding: map-get($spacers, 3) map-get($spacers, 4);
    &:hover {
        color: #0a58ca;
    }
    &:not(.collapsed) {
        color: inherit;
        background-color: inherit;
        outline: 0;
        box-shadow: none;
    }
    &:focus {
        // z-index: 3;
        border: none;
        outline: 0;
        // box-shadow: none;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
}

.accordion-link {
    font-size: map-get($font-sizes, 2);
    font-weight: $font-weight-bold !important;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: map-get($spacers, 3);
    margin-top: map-get($spacers, 2);
    text-align: left;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

.accordion-child {
    font-size: map-get($font-sizes, 4);
    text-decoration: none;
    margin-left: map-get($spacers, 3);
    &:hover {
        text-decoration: underline;
    }
}

.stars {
    font-size: map-get($font-sizes, 4);
    padding-left: 0.777rem;
}

.bg-theme {
    background-color: $color-primary;
}

.color-theme {
    color: $color-on-primary;
}

.link-theme {
    color: $color-on-primary;
    &:hover {
        color: shift-color($color-on-primary, $link-shade-percentage);
    }
}

.breadcrumb-item {
    letter-spacing: 0.0777rem;
    &::before {
        color: shift-color($color-on-primary, $link-shade-percentage) !important;
    }
    &.active {
        color: shift-color($color-on-primary, $link-shade-percentage) !important;
    }
}

.nav-item {
    display: flex;
    align-items: center;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card {
    border: none;
}

.nav-link {
    padding: 0;
}

.checkbox {
    width: 1rem;
    height: 1rem;
}

.site-header {
    white-space: nowrap;
    text-transform: uppercase;
    margin-bottom: 0rem;
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
}

.part-title {
    font-size: map-get($font-sizes, 2);
    font-weight: $font-weight-bold;
}

.facit {
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 3);
    @media (min-width: map-get($grid-breakpoints, md)) {
        column-count: 2;
    }
    h2 {
        column-span: all;
    }
}

pre {
    margin-bottom: map-get($spacers, 3) !important;
}

// .dropdown-menu {
//     @media (min-width: map-get($grid-breakpoints, md)) {
//         right: 0;
//     }
//     @media (max-width: map-get($grid-breakpoints, md)) {
//         width: 100%;
//     }
// }

.dropdown-item {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    p {
        overflow: hidden;
    }
    a:active {
        color: #fff !important;
    }
}
