.accordion {
    background-color: $gray-100;
    &__item {
        border-bottom: 1px solid $gray-200;
        &--top {
            --flow-space: 0rem;
        }
        h2 {
            padding: ms(0);
        }
        h3 {
            padding: ms(0);
            padding-top: 0;
        }
        &-header {
            width: 100%;
            max-width: none;
        }
        &-button {
            padding: 0;
            padding-left: ms(-4);
            background-color: $gray-100;
            cursor: pointer;
            width: 100%;
            border: none;
            display: flex;
            align-items: center;
            &:after {
                flex-shrink: 0;
                width: 1.333rem;
                height: 1.333rem;
                margin-left: auto;
                content: "";
                background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"%3E%3Cpath fill-rule="evenodd" d="M5.22 8.72a.75.75 0 000 1.06l6.25 6.25a.75.75 0 001.06 0l6.25-6.25a.75.75 0 00-1.06-1.06L12 14.44 6.28 8.72a.75.75 0 00-1.06 0z"%3E%3C/path%3E%3C/svg%3E');
                background-repeat: no-repeat;
                background-size: 1.333rem;
                transition: transform 0.2s ease-in-out;
            }
        }

        &-collapse {
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }

        &-body {
            padding: 0 ms(0);
            ul {
                padding: 0 0 ms(0) ms(-1);
            }
        }

        &-link {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.active:after {
    transform: rotate(-180deg);
}

.mh-0 {
    max-height: 0;
}