.anchor {
    text-decoration: none;
    margin-left: ms(0);
}
a[href].anchor,
a[href].anchor:visited {
    visibility: hidden;
}
:focus > a[href].anchor,
:focus > a[href].anchor:visited,
:hover > a[href].anchor,
:hover > a[href].anchor:visited,
a[href].anchor:focus,
a[href].anchor:focus:visited {
    visibility: visible;
}