@use "sass:color";

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    color: $color-on-primary;
    @media (min-width: 768px) {
        font-size: ms(1);
    }
    &__item {
        &--active {
            color: color.scale($color-on-primary, $alpha: -20%);
        }
        + .breadcrumb__item {
            padding-left: ms(-2);
            letter-spacing: ms(-8);
            &::before {
                content: '>';
                float: left;
                padding-right: ms(-2);
            }
        }
        &-link {
            color: $color-on-primary;
            text-decoration: none;
        }
    }
}