@use "sass:color";
.button {
    display: grid;
    place-content: center;
    padding: ms(-2) ms(0);
    background: $color-primary;
    border: 1px solid $gray-300;
    color: $color-on-primary;
    text-decoration: none;
    font-size: ms(0);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: ms(-8);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        border-color: $gray-600;
        box-shadow: 0 0 0 ms(-5) rgba(222, 226, 230, 0.5);
    }
    &__icon {
        line-height: 1;
        border: 0;
        &:hover {
            box-shadow: none;
            color: color.scale($color-on-primary, $alpha: -20%);
        }
    }
    &__close {
        background: transparent;
        border: none;
        padding: ms(-2);
        font-size: ms(0);
        position: absolute;
        right: 0;
        top: 0;
        line-height: 1;
        cursor: pointer;
        color: $gray-900;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: $gray-600;
        }
    }
}