.footer {
    padding-top: ms(2);
    padding-bottom: ms(4);
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__col {
        padding-top: ms(0);
        width: 50%;
        &:first-child {
            padding-right: ms(0);
        }
        &:last-child {
            padding-left: ms(0);
        }
        @media (max-width: 768px) {
            &:first-child {
                padding-right: 0;
            }
            &:last-child {
                padding-left: 0;
            }
            width: 100%;
        }
    }

    p {
        color: $gray-700;
    }
    &__license-image {
        display: inline-block;
    }
}