.footer {
    padding-top: ms(2);
    padding-bottom: ms(4);
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__col {
        padding-top: ms(0);
        width: 50%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }

    p {
        color: $gray-700;
    }
    &__license-image {
        display: inline-block;
    }
}