.part {
    display: flex;
    flex-wrap: wrap;
    background-color: $gray-100;

    padding: ms(-1);

    &>* {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
    }

    &__header {
        flex-shrink: 0;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: baseline;

        padding: 0 ms(-1);
        margin-bottom: ms(-2);

        border-bottom: 1px solid $gray-300;
    }

    &__test {
        padding: ms(-1);
    }

    &__introduction {
        padding: ms(-1);

        @media (min-width: 768px) {
            flex: 0 0 auto;
            width: 25%;
        }
    }

    &__instructions {
        padding: ms(-1);

        @media (min-width: 768px) {
            flex: 0 0 auto;
            width: 50%;

            border-left: 1px solid $gray-300;
            border-right: 1px solid $gray-300;
        }

        tbody, td, tfoot, th, thead, tr {
            border: 0 solid;
            border-color: inherit;
        }

        table {
            width: 100%;
            margin-bottom: 1rem;
            vertical-align: top;
            border-color: $gray-300;
            border-collapse: collapse;
            caption-side: bottom;
            border-spacing: 2px;
            thead {
                vertical-align: bottom;
                text-align: left;
                tr {
                    display: table-row;
                    vertical-align: inherit;
                    th {
                        padding: ms(-2) ms(-2);
                        background-color: $gray-300;
                        border-bottom-width: 1px;
                        box-shadow: inset 0 0 0 9999px $gray-100;
                    }
                }
            }
            tbody {
                display: table-row-group;
                vertical-align: middle;
                tr {
                    display: table-row;
                    vertical-align: inherit;
                    td {
                        padding: ms(-2) ms(-2);
                        background-color: $gray-300;
                        border-bottom-width: 1px;
                        box-shadow: inset 0 0 0 9999px $gray-100;
                    }
                }
            }
        }
    
        picture > img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }

    &__assignments {
        padding: ms(-1);
        h3 {
            fill: $color-primary;
        }
        @media (min-width: 768px) {
            flex: 0 0 auto;
            width: 25%;
        }

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__solution {
        width: 100%;
        padding: ms(0) ms(-1);
        margin-top: ms(-2);
        border-top: 1px solid $gray-300;

        h2 {
            column-span: all;
        }

        @media (min-width: 768px) {
            column-count: 2;
        }
    }
}