.progress {
    display: flex;
    height: ms(-4);
    overflow: hidden;
    background-color: $gray-300;
    &__bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;
    }
    &--grid {
        position: absolute;
        z-index: 0;
        width: 100%;
        margin-bottom: 6px;
        @media (max-width: 768px) {
            display: none;
        }
    }
}