@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Light */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("/assets/fonts/Roboto-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("/assets/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-display: swap;
}
/* Normal */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url("/assets/fonts/Roboto-Italic.ttf") format("truetype");
  font-display: swap;
}
/* Bold */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url("/assets/fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-display: swap;
}
/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in src/_data/color-tokens.js
 */
/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --step--2: clamp(0.7rem, calc(0.81rem + -0.13vw), 0.78rem);
  --step--1: clamp(0.94rem, calc(0.94rem + 0vw), 0.94rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.24rem + 0.55vw), 1.67rem);
  --step-2: clamp(1.62rem, calc(1.41rem + 1.05vw), 2.22rem);
  --step-3: clamp(1.94rem, calc(1.59rem + 1.77vw), 2.96rem);
  --step-4: clamp(2.33rem, calc(1.77rem + 2.81vw), 3.95rem);
  --step-5: clamp(2.8rem, calc(1.94rem + 4.28vw), 5.26rem);
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.5rem);
  --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
  --space-2xl: clamp(4.5rem, calc(4.33rem + 0.87vw), 5rem);
  --space-3xl: clamp(6.75rem, calc(6.49rem + 1.3vw), 7.5rem);
  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.2rem + 0.54vw), 0.63rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
  --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
  --space-s-m: clamp(1.13rem, calc(0.86rem + 1.3vw), 1.88rem);
  --space-m-l: clamp(1.69rem, calc(1.4rem + 1.41vw), 2.5rem);
  --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5rem);
  --space-2xl-3xl: clamp(4.5rem, calc(3.46rem + 5.22vw), 7.5rem);
  /* Custom pairs */
  --space-s-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem);
  --space-l-2xl: clamp(2.25rem, calc(1.29rem + 4.78vw), 5rem);
  /* Typography */
  --font-base: "Roboto", sans-serif;
  --font-heading: "Roboto Condensed", sans-serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
  /* Colors */
  --color-primary: #484172;
  --color-on-primary: #B6B2CF;
  --color-secondary: #c4c4d5;
  --color-on-secondary: #51515F;
  --color-primary--light: #5d5492;
  --color-primary--dark: #332e52;
  --color-on-primary--light: #d4d1e3;
  --color-on-primary--dark: #9893bb;
  --color-white: hsl(0, 0%, 98%);
  --color-gray-100: hsl(0, 0%, 96%);
  --color-gray-200: hsl(0, 0%, 93%);
  --color-gray-300: hsl(0, 0%, 88%);
  --color-gray-400: hsl(0, 0%, 74%);
  --color-gray-500: hsl(0, 0%, 62%);
  --color-gray-600: hsl(0, 0%, 46%);
  --color-gray-700: hsl(0, 0%, 38%);
  --color-gray-800: hsl(0, 0%, 26%);
  --color-gray-900: hsl(0, 0%, 13%);
  --color-black: hsl(0, 0%, 6%);
  /* spacing */
  --padding-xs-s: var(--space-xs) var(--space-s);
  --padding-2xs-xs: var(--space-2xs) var(--space-xs);
  --gutter: var(--space-m);
  /* border */
  --border-width: 1px;
  --border-color: var(--color-gray-300);
  --border: var(--border-width) solid var(--border-color);
}

body {
  color: var(--color-gray-900);
  background-color: var(--color-gray-200);
  font-family: var(--font-base);
  font-size: var(--step-1);
  line-height: 1.4;
  letter-spacing: var(--tracking);
}

h1,
h2,
h3 {
  line-height: 1;
  letter-spacing: var(--tracking-s);
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

p,
li,
blockquote:not([class]) {
  max-width: 50ch;
}

h1,
h2,
h3 {
  max-width: 20ch;
  font-family: var(--font-heading);
}

img {
  height: auto;
  width: 100%;
}

[role=list] {
  padding: 0;
}

a {
  color: currentColor;
}

:focus {
  outline: 2px solid;
  outline-offset: 0.2ch;
}

:target {
  scroll-margin-top: 2ex;
}

main:focus {
  outline: none;
}

main {
  margin-top: var(--space-s);
}

code:not([class]) {
  background-color: var(--color-gray-300);
  padding-inline: 0.2em;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

pre[class*=language-] {
  font-size: var(--step-0);
}

.button {
  align-items: center;
  display: flex;
  border: none;
  border-radius: var(--border-radius);
  padding: var(--space-2xs) var(--space-xs);
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
}
.button--primary {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}
.button--primary:hover {
  color: var(--color-on-primary--light);
}
.button__icon {
  line-height: 1;
  fill: currentColor;
}
.button__close {
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
  padding: var(--space-2xs) var(--space-xs);
  background-color: transparent;
  cursor: pointer;
  font-size: var(--step-0);
  line-height: 1;
  color: var(--color-gray-600);
}
.button__close:hover {
  color: var(--color-gray-900);
}

.progress {
  display: flex;
  height: 0.3em;
  overflow: hidden;
  background-color: var(--color-gray-300);
}
.progress__bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}
.progress--grid {
  position: absolute;
  z-index: 0;
  width: 100%;
  margin-bottom: var(--space-xs);
}
@media (max-width: 820px) {
  .progress--grid {
    display: none;
  }
}

.star {
  fill: var(--color-primary);
}
.star svg {
  display: block;
}

.stars {
  display: flex;
  padding-left: var(--space-xs);
  fill: var(--color-primary);
}
.stars svg {
  display: block;
}

.dropdown {
  position: relative;
  z-index: 100;
  width: 100%;
  color: var(--color-gray-900);
}
.dropdown__menu {
  position: absolute;
  background-color: var(--color-white);
  background-clip: padding-box;
  padding: var(--space-2xs);
  right: 0;
  top: var(--space-m);
}
.dropdown__menu-item {
  display: block;
  width: 100%;
}
.dropdown__menu-item--disabled {
  color: var(--color-gray-600);
  pointer-events: none;
}
.dropdown__menu-item::hover {
  box-shadow: 0px 15px 10px -15px #111;
}

.form {
  padding: var(--space-xs-s);
}
.form__section {
  display: flex;
  flex-direction: column;
}
.form__section input,
.form__section textarea {
  border: 1px solid var(--color-gray-300);
  padding: var(--space-3xs) var(--space-xs);
  font-size: var(--step-0);
}
.form__section input {
  width: 100%;
}
.form__section textarea {
  width: 100%;
}

.hint {
  background-color: var(--color-gray-300);
  padding: var(--space-2xs);
  border-left: 6px solid var(--color-primary);
}

.header-anchor {
  text-decoration: none;
}

.anchor {
  color: var(--color-primary);
  opacity: 0.6;
}
.anchor:hover {
  opacity: 1;
}

.accordion {
  --region-space-top: 0;
}
.accordion > * {
  background-color: var(--color-gray-100);
}
.accordion__section {
  --flow-space: var(--space-s);
  margin-bottom: var(--space-s);
}
.accordion__section h2 {
  padding: var(--space-s);
  width: 100%;
  max-width: unset;
  text-transform: uppercase;
  background-color: var(--color-primary);
}
.accordion__section h2 a {
  color: var(--color-on-primary);
  text-decoration: none;
}
.accordion__section-heading {
  margin: 0;
}
.accordion__item-list {
  margin: 0;
  padding: var(--space-xs);
}
.accordion__item-list li {
  align-items: center;
  display: flex;
  padding: var(--space-2xs);
  max-width: unset;
}
.accordion__item-list li:nth-child(odd) {
  background-color: var(--color-gray-200);
}
.accordion__item-list li a {
  display: grid;
  place-content: center;
  min-height: 48px;
  text-decoration: none;
}
.accordion__item-list li a:hover {
  text-decoration: underline;
}
.accordion__controls {
  justify-content: flex-end;
  gap: var(--gutter);
  display: flex;
  margin-bottom: 0.2em;
  list-style: none;
  font-size: var(--step-0);
}

.mh-0 {
  max-height: 0;
}

accordion-section {
  display: block;
  padding: var(--space-s);
}
accordion-section h3 {
  text-transform: uppercase;
}

.navbar {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}
.navbar a {
  text-decoration: none;
}
.navbar__inner {
  position: relative;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.navbar__search {
  display: none;
}
@media (min-width: 640px) {
  .navbar__search {
    display: block;
    margin-top: var(--space-s);
  }
}
.navbar__header {
  text-transform: uppercase;
  font-size: var(--step-4);
}
.navbar__right {
  display: none;
}
@media (min-width: 640px) {
  .navbar__right {
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-xs-s);
    display: flex;
  }
}
.navbar__right--show {
  position: absolute;
  z-index: 200;
  top: var(--space-m);
  right: 0;
  flex-direction: column;
  display: flex;
  padding: var(--space-3xs) 0;
  background-color: var(--color-white);
}
.navbar__right--show > .button {
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: var(--space-2xs) var(--space-xs);
  width: 100%;
  color: var(--color-primary);
  background-color: transparent;
}
.navbar__right--show > .button:hover {
  color: var(--color-primary);
  background-color: var(--color-gray-300);
}
.navbar__toggle {
  display: none;
  gap: var(--space-s);
}
@media (max-width: 640px) {
  .navbar__toggle {
    display: block;
  }
}
.navbar__button {
  align-items: center;
  gap: var(--space-3xs);
  border: none;
  padding: 0;
  font-size: var(--step-0);
  line-height: 1;
}
.navbar__button:hover {
  color: var(--color-on-primary--light);
}
.navbar svg {
  fill: currentColor;
}

.search {
  transition: all 0.5s ease;
  width: 100%;
}
.search__control {
  width: 100%;
  border: 1px solid var(--color-gray-300);
  padding: var(--space-3xs) var(--space-xs);
  font-size: var(--step-0);
}
.search--hidden {
  opacity: 0;
  overflow: hidden;
  max-width: 0;
}
.search--visible {
  opacity: 1;
  max-width: 100%;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: var(--step-0);
  width: var(--step-0);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"%3E%3Cpath fill-rule="evenodd" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"%3E%3C/path%3E%3C/svg%3E');
  background-size: contain;
  opacity: 1;
}

.hero {
  background-color: var(--color-gray-100);
  padding-inline: var(--space-xs-s);
}
.hero ul {
  font-size: var(--step-0);
  color: var(--color-gray-800);
}
.hero aside > h2 {
  font-size: var(--step-2);
  color: var(--color-gray-800);
}

.flash {
  position: fixed;
  z-index: 400;
  left: 2vmin;
  bottom: 2vmin;
  width: 100%;
  padding: var(--space-xs-s);
  border: var(--border);
  max-width: 40rem;
  background-color: var(--color-gray-100);
}
.flash__inner {
  display: grid;
  justify-items: end;
}

.breadcrumb {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: var(--step-0);
  color: var(--color-on-primary);
  list-style: none;
}
.breadcrumb__item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.breadcrumb__item--active {
  color: var(--color-on-primary--light);
}
.breadcrumb__item + .breadcrumb__item {
  padding-left: var(--space-3xs);
}
.breadcrumb__item + .breadcrumb__item::before {
  content: ">";
  float: left;
  padding-right: var(--space-3xs);
}
.breadcrumb__item-link:hover {
  color: var(--color-on-primary--light);
}

.footer {
  margin-top: var(--space-l-xl);
  background-color: var(--color-primary);
  font-size: var(--step-0);
  color: var(--color-on-primary);
}

.notes {
  position: fixed;
  bottom: 4vmin;
  width: 100%;
  max-width: min(42rem, 100vw - var(--space-m-l));
  height: 20vh;
  min-height: 16rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-white);
  border: var(--border);
}

.button__notes {
  position: fixed;
  right: 2vmin;
  bottom: 2vmin;
  padding: var(--space-2xs);
}

.feedback__footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-xs);
}

.button__feedback {
  position: fixed;
  left: 2vmin;
  bottom: 2vmin;
  padding: var(--space-2xs);
}

.overlay {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 600;
  place-content: center;
}
.overlay__header {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  width: 100%;
  padding: var(--space-s);
}
.overlay__inner {
  background-color: var(--color-gray-100);
  width: min(36rem, 100vw - var(--space-m));
}

.card {
  position: relative;
  margin-bottom: var(--space-s);
  display: flex;
  flex-direction: column;
}
.card__header {
  padding: var(--space-s);
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}
.card__body {
  padding: var(--space-s);
  background-color: var(--color-gray-100);
}

.continue {
  z-index: 700;
  position: fixed;
  background-color: var(--color-white);
  right: 2vmin;
  bottom: 2vmin;
  max-width: 24rem;
  width: calc(100% - 4vmin);
  padding: var(--space-s);
  border: var(--border);
}
.continue__inner {
  display: grid;
  justify-items: center;
  grid-gap: var(--gutter);
}
.continue__header {
  padding-top: var(--space-s);
  text-align: center;
}
.continue__list {
  flex-wrap: wrap;
  display: flex;
  margin: 0;
}
.continue__list li {
  display: flex;
}
.continue__list li span:first-child {
  min-width: 8ch;
}
.continue__list li a {
  min-width: 8ch;
  text-decoration: none;
}
.continue__list li a:hover {
  text-decoration: underline;
}

.prev-next__list {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding: 0;
  list-style: none;
  font-size: var(--step-0);
}
.prev-next__list > li > a > svg {
  fill: currentColor;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.container {
  max-width: min(56rem, 100vw - var(--space-m-l));
  margin-inline: auto;
}

.hidden,
.invisible {
  display: none;
}

.d-none {
  display: none;
}

.region {
  padding-top: var(--region-space-top, var(--space-l-xl));
  padding-bottom: var(--region-space-bottom, var(--space-l-xl));
}

.skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.sr-only {
  clip: rect(0 0 0 0);
  padding: 0;
  margin: -1;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-placement, auto-fill), minmax(var(--grid-min-item-size, 16rem), 1fr));
  gap: var(--gutter, var(--space-s-l));
}

.grid[data-rows=masonry] {
  grid-template-rows: masonry;
  align-items: start;
}

.grid[data-layout="50-50"] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 50vw, 26rem);
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-s-l));
}

.sidebar > :first-child {
  flex-basis: var(--sidebar-target-width, 20rem);
  flex-grow: 1;
}

.sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--sidebar-content-min-width, 50%);
}

/* 
  A flipped version where the sidebar is on the right
  */
.sidebar[data-direction=rtl] {
  flex-direction: row-reverse;
}

.primary {
  color: var(--color-primary);
}

.warning {
  border-color: orange;
}

.danger {
  border-color: red;
}

.bg-theme {
  background-color: var(--color-primary--light);
}
.bg-theme--top {
  background-color: var(--color-primary--dark);
}

.part {
  padding-inline: var(--space-xs-s);
  background-color: var(--color-gray-100);
}
.part__header {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  display: flex;
}
.part__header h1 {
  font-size: var(--step-4);
}
.part__content {
  flex-direction: row-reverse;
}
@media (max-width: 20rem) {
  .part__content {
    flex-direction: column-reverse;
  }
}
.part tbody,
.part td,
.part tfoot,
.part th,
.part thead,
.part tr {
  border: 0 solid;
  border-color: inherit;
}
.part table {
  vertical-align: top;
  caption-side: bottom;
  width: 100%;
  margin-bottom: var(--step-0);
  border-spacing: 2px;
  border-collapse: collapse;
  border-color: var(--color-gray-300);
}
.part table thead {
  vertical-align: bottom;
  text-align: left;
}
.part table thead tr {
  display: table-row;
  vertical-align: inherit;
}
.part table thead tr th {
  padding: var(--step--2) var(--step--2);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--color-gray-100);
  background-color: var(--color-gray-300);
}
.part table tbody {
  display: table-row-group;
  vertical-align: middle;
}
.part table tbody tr {
  display: table-row;
  vertical-align: inherit;
}
.part table tbody tr td {
  padding: var(--step--2) var(--step--2);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--color-gray-100);
  background-color: var(--color-gray-300);
}
.part picture > img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.part__questions h3 > svg {
  fill: var(--color-primary);
}
.part__questions-header {
  align-items: center;
  gap: var(--gutter);
  display: flex;
}
.part__questions-header > input {
  width: 1em;
  height: 1em;
}

.page {
  padding-inline: var(--space-xs-s);
  background-color: var(--color-gray-100);
}
