<!DOCTYPE html>
<html lang="{{ meta.language }}">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ meta.siteDescription }}" />
    <meta name="theme-color" content="{{ meta.primaryColor }}" />
    <meta name="generator" content="Eleventy">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{ meta.primaryColor }}">
    <meta name="apple-mobile-web-app-title" content="{{ meta.siteName }}">
    <meta name="msapplication-TileImage" content="/assets/icons/144.png">
    <meta name="msapplication-TileColor" content="{{ meta.primaryColor }}">
    <link rel="apple-touch-icon" href="/assets/icons/152.png">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="canonical" href="{{ currentUrl }}"/>
    <link rel="manifest" href="/manifest.json">
    <style>{% include "assets/css/style.css" %}</style>
    <title>
        {% if page.fileSlug %}
        {{ title }} - {% endif %}
        {{ meta.siteName }}
    </title>
</head>

{% include "partials/analytics.njk" %}

<body class="page-{% if page.fileSlug %}{{
            page.fileSlug
        }}{% else %}home{% endif %}">
    {% include "partials/navigation.njk" %}
    {% block main %}
    {{ content | safe }}
    {% endblock %}
    {% include "partials/footer.njk" %}
    {% include "templates/feedback.njk" %}
    {% include "templates/continue.njk" %}
    {% include "templates/flash.njk" %}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"
        integrity="sha512-0QarUp4p9r5IqUgSRyP89BHga45OpEd7VR8lbRkJkf48p/EhcU742fWUpKpoDyu9N6XYAEq/vz6m6z1OolnsDw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="/js/bundle.min.js"></script>
</body>

</html>