---
layout: layouts/base.njk
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism-tomorrow.min.css"
    integrity="sha512-kSwGoyIkfz4+hMo5jkJngSByil9jxJPKbweYec/UgS+S1EgE45qm4Gea7Ks2oxQ7qiYyyZRn66A9df2lMtjIsw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% set test = eleventyNavigation.test %}
<main class="container flow" tabindex="-1" role="main" id="main-content">
    <div class="part">
        <header class="part__header">
            <h1 class="part__header-title" id="title">
                {{ title }} <a class="header-anchor" href="#title"><span class="anchor" aria-hidden="true">#</span></a>
            </h1>
            <span class="text-muted">{{ content | emojiReadTime }}</span>
        </header>
        {% if test %}
        <section class="part__test flow">
            {{ content | safe }}
        </section>
    </div>
    {% else %}
    {{ content | safe }}
    </div>
    {% include "components/nav-bottom.njk" %}
    {% endif %}
    {% include "components/templates/notes.njk" %}
</main>