---
layout: layouts/base.njk
---

<div class="part">
    <header class="part__header">
        <h1 class="part__header-title" id="title">
            {{ title }}<a class="anchor" href="#title">#</a>
        </h1>
        <span class="text-muted">{{ content | emojiReadTime }}</span>
    </header>
    <section class="part__test flow">
        {{ content | safe }}
    </section>
</div>