---
layout: layouts/base.njk
templateEngineOverride: njk
---

{{ content | safe }}

{% set navPages = collections.slutuppgifter | fixTestsPages(navPages) %}

{% include "components/categorylist.njk" %}