@use "sass:color";
.button {
    display: grid;
    place-content: center;

    color: var(--color-on-primary);
    fill: var(--color-on-primary);
    background: var(--color-primary);

    border: 1px solid var(--color-gray-300);

    font-size: var(--step-0);
    font-weight: 700;
    letter-spacing: var(--ls-neg);
    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;

    transition: all 0.2s ease-in-out;
    &:hover {
        border-color: var(--color-gray-600);
        box-shadow: var(--shadow-elevation-low);
    }
    &__icon {
        line-height: 1;
        border: 0;
        &:hover {
            box-shadow: none;
            color: var(--color-on-primary);
            > svg {
                transition: all 0.2s ease-in-out;
                transform: scale(1.1);
            }
        }
    }
    &__close {
        background: transparent;
        border: none;
        padding: var(--step--2);
        font-size: var(--step-0);
        position: absolute;
        right: 0;
        top: 0;
        line-height: 1;
        cursor: pointer;
        color: var(--color-gray-600);
        transition: all 0.2s ease-in-out;
        &:hover {
            color: var(--color-gray-900);
        }
    }
}