@use "sass:color";
.button {
    place-content: center;

    display: grid;

    transition: all 0.2s ease-in-out;

    border: var(--border-solid-300);
    padding: var(--step--5) var(--step--3);

    background-color: var(--color-primary);
    cursor: pointer;

    font-size: var(--step-0);
    font-weight: 700;
    letter-spacing: var(--ls-neg);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-on-primary);
    fill: var(--color-on-primary);

    &:hover {
        box-shadow: var(--shadow-elevation-low);
        border-color: var(--color-gray-600);

        color: var(--color-on-primary--light);
        fill: var(--color-on-primary--light);
    }

    &__icon {
        border: none;

        background-color: var(--color-primary);

        line-height: 1;

        &:hover {
            box-shadow: none;

            > svg {
                transform: scale(1.2);

                transition: transform 0.1s ease-in-out;
            }
        }
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;

        transition: all 0.2s ease-in-out;

        padding: var(--step--5) var(--step--3);

        background-color: transparent;
        cursor: pointer;

        font-size: var(--step-0);
        line-height: 1;
        color: var(--color-gray-600);

        &:hover {
            color: var(--color-gray-900);
        }
    }
}