.category-list {
    display: flex;
    flex-wrap: wrap;
    &>* {
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
        @media (min-width: 820px) {
            width: 50%;
            // padding-right: var(--step--1);
            &:nth-child(even) {
                padding-left: var(--step-0);
            }
        }
    }
}