.continue {
    z-index: 1100;
    position: fixed;
    background-color: var(--color-gray-100);
    right: 2vmin;
    bottom: 2vmin;
    max-width: 30ch;
    width: 100%;
    padding: var(--step-0);
    border: var(--border-solid-300);
    @media (max-width: 576px) {
        display: none;
    }
    &__inner {
        display: grid;
        justify-items: center;
        grid-gap: var(--step-1);
    }
    &__header {
        padding-top: var(--step-1);
        text-align: center;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        li {
            display: flex;
            span:first-child {
                min-width: 8ch;
            }
            a {
                min-width: 8ch;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    &__button {
        padding: var(--step--2) var(--step-0);
    }
}
