.dropdown {
    position: relative;
    color: var(--color-gray-900);
    z-index: 1000;
    &__menu {
        position: absolute;
        background-color: var(--color-white);
        background-clip: padding-box;
        padding: var(--step--2);
        min-width: var(--view-min);
        right: 0;
        top: var(--step-1);
        &-item {
            display: block;
            width: 100%;
            &--disabled {
                color: var(--color-gray-600);
                pointer-events: none;
            }
        }
    }
}