.feedback {
    position: fixed;
    left: 2vmin;
    bottom: 2vmin;
}

.feedback-form {
    padding: var(--step-0);
    &__section {
        display: flex;
        flex-direction: column;
        input {
            width: 100%;
        }
        text {
            width: 100%;
        }
        &-footer {
            display: flex;
            justify-content: flex-end;
            gap: var(--step-0);
        }
    }
}

.button__feedback {
    padding: var(--step--2) var(--step-0);
}