.footer {
    font-size: var(--step--1);
    color: var(--color-on-primary);

    padding-top: var(--step-2);
    padding-bottom: var(--step-4);
    margin-top: auto;

    background-color: var(--color-primary);

    &__inner {
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(var(--view-min), 1fr));
        gap: var(--step-0);
        @media (min-width: 320px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__col {
        padding-top: var(--step-0);
        width: 50%;
        &:first-child {
            padding-right: var(--step-0);
        }
        &:last-child {
            padding-left: var(--step-0);
        }
        @media (max-width: 820px) {
            &:first-child {
                padding-right: 0;
            }
            &:last-child {
                padding-left: 0;
            }
            width: 100%;
        }
    }

    &__license-image {
        display: inline-block;
    }

    a {
        color: var(--color-on-primary);
        &:hover {
            color: var(--color-on-primary--dark);
        }
    }
}
