.footer {
    font-size: var(--step--1);
    color: var(--color-on-primary);

    padding-top: var(--step-2);
    padding-bottom: var(--step-4);

    background-color: var(--color-primary);

    &__inner {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(var(--view-min), 1fr));
        gap: var(--step-0);
    }
    &__license-image {
        display: inline-block;
    }

    a {
        color: var(--color-on-primary);
        &:hover {
            color: var(--color-on-primary--dark);
        }
    }
}