.nav-bottom {
    @media (max-width: 320px) {
        display: none;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        width: 100%;

        &-item {
            font-weight: 400 !important;
        }

        &-item-link {
            display: flex;
            align-items: center;

            text-decoration: none;
        }
    }
}
