.navbar {
    color: var(--color-on-primary);
    background-color: var(--color-primary);

    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        min-height: var(--step-6);
    }
    &__header {
        white-space: nowrap;
        text-transform: uppercase;
        margin-bottom: 0;
        a {
            text-decoration: none;
            color: inherit;
            &:hover {
                color: inherit;
            }
        }
    }
    &__right {
        display: none;
        gap: var(--step-0);
        &:focus {
            border: 2px solid black;
        }
        &--show {
            display: block;
            position: absolute;
            background-color: var(--color-white);
            background-clip: padding-box;
            padding: var(--step--3);
            right: 0;
            top: var(--step-1);
            .button {
                color: var(--color-primary);
                background-color: transparent;
            }
        }
        @media (min-width: 640px) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    &__toggle {
        display: none;
        gap: var(--step-0);
        @media (max-width: 640px) {
            display: block;
        }
    }
}
