.page {
    background-color: var(--color-gray-100);
    padding: var(--step-0);
    padding-top: var(--step--1);
    padding-bottom: var(--step-1);
    margin-top: var(--step-1);
    margin-bottom: var(--step-1);
}