@use "../vars";

.part {
    display: flex;
    flex-wrap: wrap;

    padding: var(--step--1);

    background-color: var(--color-gray-100);

    @media (min-width: vars.$width-mid) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;

        width: 100%;
        padding: 0 var(--step--1);
        margin-bottom: var(--step--2);

        border-bottom: var(--border-solid-300);

        @media (min-width: vars.$width-mid) {
            grid-column: span 4 / auto;
        }
        > span {
            padding-bottom: var(--step--4);
        }
    }

    &__test {
        width: 100%;
        padding: var(--step--1);
        @media (min-width: vars.$width-mid) {
            grid-column: span 4 / auto;
        }
    }

    &__introduction {
        width: 100%;

        padding: var(--step--1);
        padding-top: 0;

        @media (min-width: vars.$width-mid) {
            grid-column: span 3 / auto;
        }
    }

    &__instructions {
        width: 100%;

        padding: var(--step--1);
        padding-top: 0;

        @media (min-width: vars.$width-mid) {
            grid-column: span 3 / auto;
        }

        tbody,
        td,
        tfoot,
        th,
        thead,
        tr {
            border: 0 solid;
            border-color: inherit;
        }

        table {
            vertical-align: top;

            caption-side: bottom;

            width: 100%;
            margin-bottom: var(--step-0);

            border-spacing: 2px;
            border-collapse: collapse;
            border-color: var(--color-gray-300);

            thead {
                vertical-align: bottom;
                text-align: left;
                tr {
                    display: table-row;
                    vertical-align: inherit;
                    th {
                        padding: var(--step--2) var(--step--2);

                        border-bottom-width: 1px;
                        box-shadow: inset 0 0 0 9999px var(--color-gray-100);
                        background-color: var(--color-gray-300);
                    }
                }
            }
            tbody {
                display: table-row-group;
                vertical-align: middle;
                tr {
                    display: table-row;
                    vertical-align: inherit;
                    td {
                        padding: var(--step--2) var(--step--2);

                        border-bottom-width: 1px;
                        box-shadow: inset 0 0 0 9999px var(--color-gray-100);
                        background-color: var(--color-gray-300);
                    }
                }
            }
        }

        picture > img {
            max-width: 100%;
            width: 100%;
            height: auto;
        }
    }

    &__assignments {
        width: 100%;

        padding: var(--step--1);
        padding-top: 0;

        p {
            --flow-space: 0;
        }

        h3 > svg {
            fill: var(--color-primary);
        }

        @media (min-width: vars.$width-min) {
            grid-row: 2 / 4;
            grid-column: 4;

            border-left: var(--border-solid-300);
        }

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__solution {
        width: 100%;
        padding: var(--step-0) var(--step--1);
        margin-top: var(--step--2);

        border-top: var(--border-solid-300);

        h2 {
            column-span: all;
        }

        @media (min-width: vars.$width-mid) {
            column-count: 2;
            grid-column: span 4 / auto;
        }
    }
}
