.progress {
    display: flex;
    height: 0.3em;
    overflow: hidden;
    background-color: var(--color-gray-300);
    &__bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;
    }
    &--grid {
        position: absolute;
        z-index: 0;
        width: 100%;
        margin-bottom: var(--space-xs);
        @media (max-width: 820px) {
            display: none;
        }
    }
}
