---
title: '404 - Sidan kunde inte hittas'
layout: layouts/page.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<h1>{{ title }}</h1>
<p class="lead">
    Ursäkta, men sidan du letade efter kunde inte hittas. 
    Var snäll och försök från <a href="/">startsidan</a> igen.
</p>
