---
title: Offline
layout: layouts/page.njk
permalink: /offline.html
eleventyExcludeFromCollections: true
---

<h1>{{ title }}</h1>

<p>Tyvärr kan du inte nå resursen just nu. Kontrollera din internetanslutning och försök igen.</p>