---
title: Frågor
layout: layouts/page.njk
permalink: /fragor/
eleventyExcludeFromCollections: true
---

<header class="flow">
    <h1>Frågor</h1>
    <p class="lead">På den här sidan visas en översikt över alla frågor från de teman, områden och delar som kursen {{
        meta.siteName }} innehåller.
    </p>
    <p>För dig som elev så är det en möjlighet att se vad du behöver
        kunna och förstå efter att du har slutfört varje område. Frågorna är utformade
        för att hjälpa dig att minnas.</p>
    <p>För dig som lärare så ger det dig en överblick över materialet så att du
        kan använda frågorna i dialog med eleverna eller för examination.
    </p>
</header>
<div class="flow">
    <ul>
        {% for theme in questions %}
        <li>Tema: {{ theme.theme }}</li>
        <ul>
            {% for area in theme.areas %}
            <li>Område: {{ area.area }}</li>
            <ul>
                {% for part in area.parts %}
                {% for question in part.questions %}
                <li>{{ question }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
</div>