/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in src/_theme/color-tokens.js
 */

$color-primary: #e1edb9 !default;
$color-on-primary: #626C41 !default;

$base-color-tokens: ("primary");

$color-tokens: (
  "color-primary": $color-primary,
  "color-on-primary": $color-on-primary
) !default;

@mixin color-tokens() {
  --color-primary: #{$color-primary};
  --color-on-primary: #{$color-on-primary};
}