@import "reset";

@import "type";

@import "color-tokens";

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-900: #212529;
$black: #000;

@import "utilities/visually-hidden";
@import "utilities/container";
@import 'utilities/flow';
@import 'utilities/display';
@import 'utilities/list';
@import 'utilities/skip-link';
@import 'utilities/stretched-link';

body {
    scroll-behavior: smooth;
    background-color: $gray-200;
    color: $gray-900;
}

main {
    padding-top: ms(1);
    padding-bottom: ms(1);
    &:focus {
        outline: none;
    }
}

.bg-theme {
    background-color: $color-primary;
}

.stars {
    padding-left: ms(-1);
}

.invisible {
    display: none !important;
}

li.test{
    font-weight: 700;
}

@import "components/navbar";
@import "components/dropdown";
@import "components/footer";
@import "components/form";
@import "components/accordion";
@import "components/progress";
@import "components/breadcrumb";
@import "components/anchor";
@import "components/nav-bottom";
@import "components/category-list";
@import "components/card";
@import "components/video";
@import "components/updates";

@import "components/part";