.hero {
    background-color: var(--color-gray-100);
    padding-inline: var(--space-xs-s);

    ul {
        font-size: var(--step-0);
        color: var(--color-gray-800);
    }
    aside > h2 {
        font-size: var(--step-2);
        color: var(--color-gray-800);
    }
}
