<footer class="footer region">
    <div class="container flow">
        <p><a target="_blank" rel="noopener" href="https://github.com/jensnti/tod">Tema,
                område, del</a> mallen och webbplatsen är skapad av <a target="_blank" rel="noopener"
                href="https://jensa.xyz">Jens
                Andreasson</a> utifrån <a target="_blank" rel="noopener" href="https://github.com/KajSchmidt">Kaj
                Schmidts</a> pedagogiska funderingar kring
            <a target="_blank" rel="noopener"
                href="https://www.skolverket.se/skolutveckling/forskning-och-utvarderingar/artiklar-om-forskning/testbaserat-larande-kan-visa-elevens-kunskapsutveckling">testbaserat
                lärande</a>.
        </p>
        <p>Hittar du något som är fel eller inte fungerar, rapportera gärna en
            <a href="{{ pkg.bugs.url | safe }}">issue</a>
            på GitHub.
        </p>
        <p>Den här webbplatsens innehåll är &copy; {% year %} <a target="_blank" rel="noopener"
                href="{{ meta.author.url}}">{{
                meta.author.name }}</a>.</p>
        <p><a target="_blank" rel="noopener" href="https://github.com/jensnti/tod">Tema, område, del</a> mallen är
            fri att använda och licensierad med
            <a rel="license" target="_blank" rel="noopener" href="http://creativecommons.org/licenses/by-nc/4.0/">
                CC BY-NC 4.0
            </a>.
        </p>
    </div>
</footer>