<a class="skip-link" href="#main-content">Hoppa till sidans innehåll</a>
<nav class="navbar" role="navigation" aria-label="Primary">
    <div class="container navbar__inner">
        <h1 class="navbar__header">
            <a href="/" title="Tillbaka till startsidan">
                {{ meta.siteName }}
            </a>
        </h1>
        <button class="navbar__toggle button button__icon" aria-label="Show more" aria-haspopup="true"
            aria-expanded="false">
            <span class="sr-only">Visa mer</span>
            {% svg "more_vert_FILL0_wght400_GRAD0_opsz24.svg", "icon" %}
        </button>
        <div class="navbar__right">
            <a class="navbar__button button {% if 'fragor' in page.url %}active{% endif %}" href="/fragor">
                {% svg "quiz_FILL0_wght400_GRAD0_opsz24.svg", "icon" %}
                Frågor
            </a>
            <a class="navbar__button button {% if 'hjalp' in page.url %}active{% endif %}" href="/hjalp">
                {% svg "help_FILL0_wght400_GRAD0_opsz24.svg", "icon" %}
                Hjälp
            </a>
            <button class="navbar__button button hidden" id="install-worker" type="button">
                {% svg "install_mobile_FILL0_wght400_GRAD0_opsz24.svg", "icon" %}
                Installera
            </button>
        </div>
    </div>
    <div class="container navbar__inner">
        {% set currentPage = page.fileSlug %}
        {% if currentPage | filterPages %}
        {% elif currentPage.includes('slutuppgift') %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb__item">
                    <a class="breadcrumb__item-link" href="/">{{ meta.siteName | safe }}</a>
                </li>
                <li class="breadcrumb__item breadcrumb__item--active" aria-current="page">
                    Slutuppgifter
                </li>
            </ol>
        </nav>
        {% else %}
        {% include "components/breadcrumb.njk" %}
        {% endif %}
    </div>
</nav>
<aside class="container navbar__inner navbar__search">
    <div class="dropdown">
        <form class="search">
            <label class="sr-only" for="search-input">Sök</label>
            <input class="search__control" autocomplete="off" type="search" placeholder="Sök..." id="search-input"
                aria-label="Sök" />
        </form>
        <ol id="search-results" class="dropdown__menu flow d-none" aria-labelledby="search-input">
            <li class="dropdown__menu-item--disabled">Skriv för att söka på sidan...</li>
        </ol>
    </div>
</aside>